<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dash - Add Snek</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add a new Snek!</h1>
        <form action="/snakes" method="post">
            <div>
                <label for="species">Species:</label>
                <input type="text" name="species" id="species">
            </div>
            <div>
                <label for="color">Color:</label>
                <input type="text" name="color" id="color">
            </div>
            <div>
                <label for="pic_url">Picture url:</label>
                <input type="text" name="pic_url" id="pic_url">
            </div>
            <div>
                <button type="submit">Add Snek</button>
            </div>
        </form>
    
    </body>
</html>